* {
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  font-family: var(--font-base);
}

video {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  position: fixed;
  overflow: hidden;
  z-index: 0;
}

/* .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
} */

/* .video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.5);
  z-index: 0;
} */
